@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Baloo Da 2", sans-serif;
    background: #f2f4f7;
  }
}

.teacher_bg_image {
  background: linear-gradient(
    to top,
    #009f9542,
    #009a9178,
    #00968e5e,
    #00928b2e,
    #008e8800
  );
}

.clip-hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.btn {
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* 1. Pulse Animation */
.btn-pulse {
  background-color: #07a698;
  color: white;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* About image  */
.bg_image {
  background-image: url("../public/about_shape.png");
  background-repeat: no-repeat;
}
